#!/bin/bash
#For run.tanzu.vmware.com/v1alpha2
export SUPERVISOR_CLUSTER_IP=<SUPERVISOR-CLUSTER-IP>
export TKC_CLUSTER_USER="<DEVOPSUSER@DOMAIN>"
export KUBECTL_VSPHERE_PASSWORD="<DEVOPS-USER-PWD> "
export TKC_CLUSTER_NAME="<TKC-CLUSTER-NAME>"
export VS_NAMESPACE="<VSPHERE-NAME-SPACE>"
