export SUPERVISOR_CLUSTER_IP=<SupervisorClusterIP>
export KUBECTL_VSPHERE_PASSWORD=<PRE_USER_PASSWORD>
export VS_NAMESPACE=<vSphereNameSpace>
export PRE_USER_NAME=<DevopsUserName>
export PRE_USER_PASSWD=<DevopsUserPassword>
export DEVOPS_USER_NAME=<DevopsUserName>
export DEVOPS_USER_PASSWD=<DevopsUserPassword>
export HARBOR_IP=<HARBORIP>
export HARBOR_ROOT_CA_CRT=<PathtoHarborRootCAfile>
 


