#!/bin/bash
#For run.tanzu.vmware.com/v1alpha2
export CLUSTER_NAME="prasad-clu-01"
export VS_NAMESPACE="finance"
export CP_NODE_COUNT=3
export CP_VMCLASS="guaranteed-medium"
export CP_STORAGE_POLICY="jbvcf-w01-wld01-vsan-storage-policy"
export CP_TKR="v1.21.2---vmware.1-tkg.1.ee25d55"
export WN_NP1_NAME="general" 
export WN_NP1_NODE_COUNT=5
export WN_NP1_VMCLASS="guaranteed-medium"
export WN_NP1_STORAGE_POLICY="jbvcf-w01-wld01-vsan-storage-policy"
export WN_NP1_TKR="v1.21.2---vmware.1-tkg.1.ee25d55"
